:root {
  --color: yellow;
}

body {
  margin: 0;
  font-size: 100px;
}

button {
  border: none;
  border: 2px solid #495057;
  background-color: #adb5bd;
  font-size: 100px;
  width: 540px;
  height: 300px;
}

.counter {
  position: fixed;
  bottom: 0;
}


ul {
  height: 1em;
  font-size: 80px;
  margin-left: 30px;
  margin-bottom: 700px;
}

li {
  width: 900px;
}

li:nth-child(odd) {
  background-color: #adb5bd;
}

#li {
  color: var(--color);
}

#btPlus {
  float: left;
}

#btMin {
  float: right;
}

#pCount {
  border: 2px solid #495057;
  border-radius: 20px 20px 0px 0px;
  color: white;
  text-align: center;
  margin: 0;
  width: 1076px;
  height: 100px;
  background-color: #6c757d;
}
